<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <h1>Page not found</h1>
            <p>Sorry, the page you requested doesn't exist. Use the navigation to find what you're looking for.</p>
            <NavLink class="btn btn-secondary" href="/">Go Home</NavLink>
        </LayoutView>
    </NotFound>
</Router>
